@import '../../styles/shared-styles.scss';

.container {
  color: white;
}

.intro-section {
  color: white;
  padding: 20px;
  text-align: center;
}

.product-header {
  color: $shopapp-tint-color;
}

.product-header {
  text-align: center;
  /* Căn giữa văn bản */
  font-weight: 500;
}

.form-control {
  background-color: $shopapp-background-color;
  border: 1.5px solid rgb(200, 200, 200);
  color: rgb(150, 146, 146);
}

.form-control:focus {
  border-color: white;
  background-color: $shopapp-background-color;
}

.form-label {
  color: rgb(124, 124, 124);
  font-size: 18px;
  /* Thay đổi cỡ chữ thành 20px */
  font-weight: 500;
}

.product-header {
  color: $shopapp-tint-color;
}

.product-order {
  color: $shopapp-title-color;
}
