
<div class="container-fluid">
  <header class="header bg-success text-white d-flex justify-content-between align-items-center p-2">
    <h3 class="header-title text-uppercase">Admin Dashboard</h3>
    <button class="btn btn-danger btn-sm" (click)="logout()">Đăng xuất</button>
  </header>

  <div class="row custom-row">
    <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar" [ngbCollapse]="isCollapsed">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('orders')" routerLink="/admin/orders"
              routerLinkActive="active">
              <i class="fas fa-boxes icon"></i> Đơn hàng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('categories')" routerLink="/admin/categories"
              routerLinkActive="active">
              <i class="fas fa-tags icon"></i> Danh mục sản phẩm
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('products')" routerLink="/admin/products"
              routerLinkActive="active">
              <i class="fas fa-cubes icon"></i> Sản phẩm
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('report')" routerLink="/admin/report"
              routerLinkActive="active">
              <i class="fas fa-cubes icon"></i> Thống kê
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 col-lg-9 p-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
