<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>CHI TIẾT</a>
    <ng-template ngbNavContent>
      <div class="tab-content">
        {{ product?.description }}
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>HƯỚNG DẪN SỬ DỤNG</a>
    <ng-template ngbNavContent>
      <div class="tab-content">
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>THÀNH PHẦN</a>
    <ng-template ngbNavContent>
      <div class="tab-content">
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
