<footer>
    <!-- Footer content goes here -->
    <div class="footer">
        <div class="container">
            <div class="row footer-description">
                <div class="col-md-6">
                    <p>&copy; Đồ án JAVA SPRING BOOT của Nhóm 04</p>
                </div>
                <div class="col-md-6">
                    <p class="text-end">UIT | Lập trình JAVA - IS216.O2 | GVHD: ThS. Mai Xuân Hùng </p>
                </div>
            </div>
        </div>
    </div>
</footer>
