<div id="footer">
    <div class="email_subscribe_section">
        <div class="container wrapper">
            <div class="text_tagline">nhận bản tin làm đẹp</div>
            <div id="subscribe-form">
                <div class="form_area">
                    <form autocomplete="off" class="clearfix">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Nhập email" name="email" class="form-control"
                                    aria-required="true" aria-invalid="false">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary submit">Đăng ký nhận
                                        tin</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="text-alert hidden" style="display: none;"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="categories_section">
        <div class="container wrapper">
            <p class="title">SẢN PHẨM</p>
            <ul class="categories_content">
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">CHĂM SÓC DA</p>
                        <ul class="subcategories_content">
                            <li>Làm sạch</li>
                            <li>Dưỡng da</li>
                            <li>Chống nắng</li>
                            <li>Mặt nạ</li>
                            <li>Chăm sóc chuyên sâu</li>
                            <li>Set Chăm sóc da</li>
                            <li>Chăm sóc da khác</li>
                            <li>Chăm sóc môi</li>
                            <li>Chăm sóc mắt</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">CHĂM SÓC CƠ THỂ</p>
                        <ul class="subcategories_content">
                            <li>Set chăm sóc cơ thể</li>
                            <li>Làm sạch</li>
                            <li>Chăm sóc cá nhân</li>
                            <li>Đặc trị cơ thể</li>
                            <li>Chống nắng cơ thể</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">CHĂM SÓC TÓC</p>
                        <ul class="subcategories_content">
                            <li>Dầu gội</li>
                            <li>Dưỡng tóc</li>
                            <li>Set Chăm sóc tóc</li>
                            <li>Tạo kiểu tóc</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">TRANG ĐIỂM</p>
                        <ul class="subcategories_content">
                            <li>Mặt</li>
                            <li>Môi</li>
                            <li>Mắt</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">NƯỚC HOA</p>
                        <ul class="subcategories_content">
                            <li>Nước hoa toàn thân</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">DỤNG CỤ LÀM ĐẸP</p>
                        <ul class="subcategories_content">
                            <li>Dành cho mặt</li>
                            <li>Cọ trang điểm</li>
                            <li>Dụng cụ làm đẹp</li>
                            <li>Khác</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cat_wrapper">
                        <p class="categories_title">E-GIFT CARD</p>
                        <ul class="subcategories_content">
                            <li>Thẻ quà tặng điện tử</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-bottom">
        <div class="container wrapper">
            <div class="footer-column">
                <p class="title">VỀ SOCIOLLA</p>
                <ul>
                    <li><a href="/content/4-about-us">Giới thiệu Sociolla</a></li>
                    <li><a href="/store">Cửa hàng Sociolla</a></li>
                    <li><a href="/contact-us">Liên hệ</a></li>
                    <li><a href="/content/9-careers">Tuyển dụng</a></li>
                    <li><a href="/page/privacypolicy">Chính sách bảo mật</a></li>
                    <li><a href="/page/termsandconditions">Điều khoản dịch vụ</a></li>
                    <li><a href="/page/deliverypolicy">Chính sách vận chuyển - hoàn tiền</a></li>
                    <li><a href="/page/paymentpolicy">Chính sách thanh toán</a></li>
                    <li><a href="/page/transactionpolicy">Chính sách giao dịch chung</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <p class="title">PHƯƠNG THỨC THANH TOÁN</p>
                <ul class="payment">
                    <li><img src="assets/img/visa.svg" alt="Visa"></li>
                    <li><img src="assets/img/mastercard.svg" alt="Mastercard"></li>
                    <li><img src="assets/img/jcb.svg" alt="JCB"></li>
                    <li><img src="assets/img/momo.svg" alt="MoMo"></li>
                    <li><img src="assets/img/vnpay.svg" alt="VNPay"></li>
                </ul>
            </div>
            <div class="footer-column">
                <p class="title">TẢI ỨNG DỤNG</p>
                <p>Quét mã QR hoặc tải ứng dụng SOCO by Sociolla trên iOS và Android.</p>
                <div class="app-links">
                    <img src="assets/img/ic-apps-qrcode.svg" alt="QR Code">
                    <div class="d-flex " style="display: flex !important;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;">
                        <a href="https://apps.apple.com/id/app/soco-by-sociolla/id1451280877" target="_blank">
                            <img src="assets/img/ios_apps.svg" alt="App Store" width="140">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.socialbella.soco" target="_blank">
                            <img src="assets/img/google_play_apps.svg" alt="Google Play" width="140">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-column">
                <p class="title">CHĂM SÓC KHÁCH HÀNG</p>
                <p>cs.vn&#64;sociolla.com</p>
                <img src="assets/img/bocongthuong.png" alt="Bộ Công Thương" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom-footer">
        <div class="container">
            <div class="second_foot_logo_section d-flex flex-wrap" >
                <ul>
                    <li style="list-style-type: none;">
                        <a href="https://vn.sociolla.com" title="SOCIOLLA" target="_self">
                            <img src="assets/img/logo.svg" alt="logo" style="width: 100%">
                        </a>
                    </li>
                </ul>
                <div class="m-20">
                    <p>2024 © Social Bella Retail Vietnam Company Limited. All Rights Reserved.</p>
                    <p class="silver">CÔNG TY TNHH SOCIAL BELLA RETAIL VIỆT NAM</p>
                    <p class="silver"> Địa chỉ: 109-111 Nguyễn Huệ, Phường Bến Nghé, Quận 1, Tp. Hồ Chí Minh, Việt Nam
                    </p>
                    <p class="silver"> Mã số doanh nghiệp: 0316599975, đăng ký lần đầu ngày 19 tháng 11 năm 2020 </p>
                </div>
            </div>
        </div>
    </div>
</div>
