//sản phẩm, sl. đơn giá, tổng giá, tổng giá
.container {
    color: rgb(88, 88, 88);
}

.intro-section {
    color: rgb(84, 84, 84);
    padding: 20px;
    text-align: center;
}
.product-header {
    color: rgb(86, 86, 86);
}
.form-control {
    background-color: rgb(255, 229, 236);
    border: 1px solid rgb(255, 218, 226);
    color: rgb(99, 99, 99);
}

.form-control:focus {
    border-color: rgb(255, 200, 214);
    background-color: rgb(255, 255, 255);
}

//họ và tên, sdt, email
.form-label {
    color: rgb(87, 87, 87);
}
.product-header {
    color: rgb(88, 88, 88);
}
.product-order {
    color: rgb(87, 87, 87);
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: rgb(254, 213, 223);    
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: rgb(88, 88, 88);
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right,rgb(250, 175, 203), rgb(255,140,168));
    color: white;
    border-radius: 30px;
    width: 200px;
  }

.quantity-controls {
    display: flex;
    align-items: center; /* căn chỉnh các phần tử theo chiều dọc */
}

.quantity-controls .quantity-button {
    padding: 3px 8px; /* cố định kích thước nút */
    margin: 0 10px; /* Khoảng cách giữa các nút */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quantity-controls .quantity {
    padding: 0 5px;
    font-weight: bold;
}

.quantity-controls .decrease {
    background-color: #e57373;
    color: white;
}

.quantity-controls .increase {
    background-color: #81c784;
    color: white;
}
h3 {
    font-weight: bold;
    font-size: 1.7em;
    color: rgb(153, 21, 102);
    background-color: pink;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: all 0.3s ease;
    margin: 0;
    border: 2px solid transparent;
    text-align: right; /* Căn sang phải */
}

h3:hover {
    background-color: #ff6b6b;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-color: #ff6b6b;
}

.text-end {
    text-align: right;
}

